.checkoutButton {
  background-color: #b8d8be;
  border-radius: 25px;
  border: 1px solid;
  padding: 10px;
  margin-top: 15px;
  width: 100px;
}

.continueShoppingButton {
  background-color: #f6f1e9;
  border-radius: 25px;
  border: 1px solid;
  padding: 10px;
  margin-top: 15px;
  width: 150px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.cartPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productItem {
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 10px;
}

.productDetails {
  display: flex;
  align-items: center;
}

.productColumn {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.detailLabel {
  margin-right: 2px;
  margin-left: 40px;
}

.productList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.product {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.productColumn1 {
  flex: 2;
}

.productColumn2 {
  flex: 2;
}

.productColumn3 {
  flex: 1;
}

.totalsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #b8d8be;
  border-radius: 25px;
}

.totalColumn {
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.currencySymbol {
  margin-left: 1px;
  margin-right: 40px;
}

.productType {
  font-weight: bold;
  text-align: left;
  padding-left: 25px;
  text-decoration: none;
}

.totalQuantityContainer {
  display: flex;
  align-items: center;
}

.totalSumContainer {
  display: flex;
  align-items: center;
}
