// .matchaTable {
// }

.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: Center within the viewport */
}

.aboutSection {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
