// Nav
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  text-align: left;
}

nav ul {
  display: flex;
  flex-direction: row;
}
.nav li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

// Footer
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: left;
}

.footer ul {
  display: flex;
  flex-direction: row;
}

.footer li {
  list-style-type: none;
}

// boday
body {
  background-color: #f6f1e9;
}
