// Nav
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: left;
}

.headerLinks {
  text-decoration: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-decoration: none;
  list-style-type: none;
}
.nav li {
  // text-decoration: none;
  display: flex;
}

.navHome {
  background-color: #b8d8be;
  border-radius: 10px;
}

// Footer - footer fixieren !!!

// .footer {
//   position: fixed;

.footer ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-decoration: none;
  list-style-type: none;
}
.footerLinks {
  text-decoration: none;
}

// body
body {
  background-color: #f6f1e9;
  font-family: 'Dosis', sans-serif;
  margin: 50px 100px;
  padding: 0px;
}

// main page

.mainPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.mainImg {
  margin: auto;
  display: block;
}

// headings
h1 {
  font-size: 40px;
  font-weight: '600';
  color: #b8d8be;
  display: flex;
  justify-content: center;
}

// products page
.listedProducts {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

// h2 {
//   font-size: 30px;
//   font-weight: '400';
//   color: #b8d8be;
// }

// COLORS:
// fabrliche mint Akzente: #b8d8be
// background-color: #f6f1e9
