.checkoutTotalSum {
  border-radius: 25px;
  background-color: #b8d8be;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  width: 40%;
  border: 1px solid;
  font-weight: bold;
}

.h2Heading {
  color: #b8d8be;
}
